* {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #586f7c, #b8dbd9);
    background-size: cover;
    color: white;
}


.banner {
    background-color: #182329;
    font-size: 5rem;
    color: white;
    width: 100%;
    height: 15%;
}

.footer {
    background-color: #2f4550;
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 100%;
    height: 10vh;
    margin-top: 2rem;
}


ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-evenly;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0.5rem 4rem 0.5rem .5rem;
    border: 2px solid white;
    padding: .5rem .5rem;
}

a {
    text-decoration: none;
    color: white;
}


/* Spacing and styling for intro part */
.foundation {
    display: flex;
    max-height: 50%;
    max-width: 90%;
    margin: 8rem 4rem 0 4rem;
    display: flex;
    flex-direction: row;
}

.intro {
    background-color: white;
    color: black;
    font-size: 50px;
    line-height: 2;
    padding: 2em;
    text-align: center;
    border-radius: 1rem;
    margin: 4rem 2rem 2rem 4rem;
}


.avatar {
    max-height: 600px;
    margin: .4em;
    border-radius: 3em;
    border: 15px solid #fdfdfd;;
}

/* .intro div{
    margin: 2rem;
    justify-content: center;
    align-items: center;
} */


/* Need to style projects section later */
.project {
    display: flex;
    font-size: 100px;
    line-height: 2;
    text-align: center;
    margin: 2em;
}


/* adjustments for project cards */
.procard {
    background-color: white;
    color: black;
    display: flex;
    max-height: 50%;
    max-width: 90%;
    margin: 4rem;
    border-radius: 1rem;
}


.procardfont {
    color: black;
    width: 50%;
    line-height: 2em;
    margin: 4em 1em 1em 4em;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 2rem;
}
.procard div img {
    height: 20rem;
    margin: 2em 0 2em 2em;
    border: 8px solid gold;
    border-radius: 1rem;
}

.bannerphoto {
    background-image: url(/assets/images/photo-1487058792275-0ad4aaf24ca7.jfif);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    /* align-items: flex-start; */
}

.bannerphoto h1 {
    font-size: 5em;
    margin-top: 1em;
    margin-bottom: .5em;
    margin-left: 2em;

}
.bannerphoto h2 {
    font-size: 4em;
    margin-left: 3em;
}
