nav {
	font-size: 20px;
	padding: 0.5em;
	color: white;
	background-color: #1c1d25;
	display: flex;
	justify-content: space-between;
}

ul {
	display: flex;
	list-style: none;
	width: 50vw;
	justify-content: space-around;
}

li {
	width: 200px;
}

li a {
	color: white;
	text-decoration: none;
	margin-left: 0.5em;
}

.navlogo {
	font-size: 25px;
}
