@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
/* using roboto and montserrat font family */

:root {
	--white-color: white;
	--normal-text: 2rem;
}

* {
	margin: 0;
	padding: 0;
}

.bannerphoto {
	background-image: url("./images/codingimage.jpg");
	height: 600px;
	width: auto;
	background-size: cover;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.avatar {
	height: 400px;
	margin: 2rem 4rem 2rem 0.5rem;
	border: 5px solid #494949;
	box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.7);
}

.aboutme {
	box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.7);
}
