@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
/* using roboto and montserrat font family */

:root {
	--normal-text: 2rem;
}

.pagebackdrop {
	background-image: url("./images/codingimage.jpg");
	height: 500px;
	width: auto;
	background-size: cover;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.bannerphoto {
	background-color: #1c1d25;
	height: 100vh;
	width: auto;
	background-size: cover;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: flex-start;
}

.avatar {
	height: 300px;
	border-radius: 1em;
	box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.7);
}

.projectImage {
	height: 175px;
	width: 300px;
}

.boxshadow {
	box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.7);
}
